
.app {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.pageWidth {
  max-width: 700px;
  margin: 0 auto;
}

.header {
  background-color: grey;
  color:white;
  padding: 20px 16px;
}

.form {
  padding: 16px 0;
  display: flex;
  gap: 16px;
}

.article {
  padding: 8px 16px;
  margin: 8px 0;
  border: 1px solid grey;
  border-radius: 3px;
}

.article-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.article-title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 500px;
}

.article-content {
  display: flex;
  justify-content: end;
}

.article-top-days {
  display: flex;
}

.article-top-day {
  margin-right: 16px;
  padding: 8px 16px;
  border: 1px solid gray;
  border-radius: 3px;
}

.article-more-button {
  display: block;
  margin: 16px 0;
  cursor: pointer;
}

.loading-spinner {
  margin: auto;
  border: 5px solid #EAF0F6;
  border-radius: 50%;
  border-top: 5px solid black;
  width: 100px;
  height: 100px;
  animation: spinner 4s linear infinite;
}

@keyframes spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}